@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cabin+Sketch&family=Montserrat:wght@500&family=Russo+One&family=Monoton&display=swap");

/* changed*/


/*@media only screen and (max-width: 767px) {
  .main_color {
      background-attachment: scroll;
      background-image:none;
  }
  }*/

body {
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    background-image: url("public/bac.jpg");
    font-family: "Barlow", sans-serif;
    color: "#fff";
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("public/bacM1.jpg");
    }
}

.fbbutton {
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    height: 35px;
    width: 190px;
    text-transform: uppercase;
    color: #f0f0f0;
    background-color: rgb(32, 32, 177);
    border: none;
    border-radius: 6px;
    z-index: 1000;
}

.head {
    margin: 0 auto;
    padding: 10px;
    padding-top: 40px;
}

.rtable {
    display: absolute;
    margin: 0 auto;
    text-align: center;
}

.question {
    position: relative;
    z-index: 20;
    background-color: rgba(3, 3, 65, 0.8);
    color: white;
    box-sizing: border-box;
    box-shadow: 10px 10px 7px rgba(10, 10, 10, 0.9);
    max-width: 1000px;
    min-width: 100px;
    margin: 40px auto;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media only screen and (max-width: 700px) {
    .question {
        width: 85%;
    }
}

.ans-div {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}


/*changed*/

.responsive-image {
    position: relative;
    max-width: 100%;
}

.responsive-image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#filled-basic {
    background-color: rgba(246, 248, 255, 0.87);
    border-radius: 3px;
}

#filled-basic:focus {
    background-color: rgb(10, 0, 66);
    border-radius: 3px;
    color: #fff;
}

.btnSubmit {
    margin: 5px;
    padding: 5px;
}

.login-head {
    display: relative;
    color: rgb(253, 253, 253);
    margin: 0 auto;
    z-index: 20;
}

.login-head h1 {
    font: 150% Consolas, Monaco, monospace;
    border-right: 0.1em solid;
    width: 16.5em;
    width: 15.5ch;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(16, end), cursor-blink 0.3s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: radial-gradient( ellipse 30% 30% at 50% 50%, #6b1839, transparent);
    transform: translate(-50%);
    letter-spacing: 2;
    left: 50%;
    top: 10%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 37px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: block;
    padding: 15px;
    max-width: 350px;
    border: 4px solid #d21f3c;
    border-radius: 60px;
    margin: 0 auto;
    background-color: rgba(10, 10, 50, 0.5);
}

.neon-box {
    box-shadow: 0 0 5px 0 #ff0800, inset 0 0 5px 0 #ff0800, 0 0 20px 0 #d21f3c, inset 0 0 5px 0 #d21f3c, 0 0 20px 2px #d21f3c, inset 0 0 20px 2px #d21f3c;
    animation: flashing 4s ease 0s infinite;
}

.rowC {
    display: flex;
    flex-direction: row;
}

@keyframes flashing {
    0%,
    60% {
        box-shadow: 0 0 5px 0 #ff0800, inset 0 0 5px 0 #ff0800, 0 0 20px 0 #d21f3c, inset 0 0 5px 0 #d21f3c, 0 0 20px 2px #d21f3c, inset 0 0 20px 2px #d21f3c;
    }
    20%,
    80% {
        box-shadow: 0 0 5px 0 #d21f3c, inset 0 0 5px 0 #d21f3c, 0 0 20px 0 #d21f3c, inset 0 0 5px 0 rgba(10, 10, 50, 0.5), 0 0 20px 2px rgba(10, 10, 50, 0.5), inset 0 0 20px 2px rgba(10, 10, 50, 0.5);
    }
}